@import "base.css";
header{
    height:0.88rem;
    text-align: center;
    color: #4ebbfe;
    line-height: 0.88rem;
    font-size: 0.38rem;
    box-shadow:0 2px 15px rgba(78,187,254,0.2) ;
    display: flex;
    justify-content: space-between;
    padding: 0 0.24rem;
    align-items: center;
    box-sizing: border-box;
}

.Contend > .img {
    padding-top: 3.06rem;
}
.Contend > .img> img{
    margin: 0 auto;
    width: 2.98rem;
    height: 2.7rem;
}
.Contend >p {
    font-size: 0.26rem;
    color: rgba(0,0,0,0.4);
    text-align: center;
}
.Contend > a{
    display: block;
    margin-top: 0.5rem;
}

.Contend > a > .add{
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0
    rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    margin-left: 2.7rem;
    font-size: 0.24rem;
    color: #ffffff;
    padding: 0.16rem 0.8rem;
}